source https://nuget.org/api/v2

nuget fsharp.core
nuget FSharp.Formatting
nuget FsUnit.xUnit  framework: >= net40
nuget FAKE
nuget SourceLink.Fake
nuget Foq framework: >= net40
nuget XunitShould
nuget log4net framework: >= net451
nuget Newtonsoft.Json framework: >= net451
nuget StackExchange.Redis framework: >= net451
nuget moq 4.7.145
nuget xunit 1.9.2
nuget xunit.runner.visualstudio framework: >= net451
nuget xunit.runner.console

nuget Redis-64

github fsharp/FAKE modules/Octokit/Octokit.fsx